@model ML.Sueldos
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Sueldos</h2>


<div class="row">
    <div class="col-md-12">
        <h5>Seleccione un Sueldo para editarlo o + para agregar...</h5>
    </div>
</div>

@*<div class ="row">*@
<div style="float:right;">
    @Html.ActionLink("Agregar Sueldo", "Form", "Sueldo", htmlAttributes: new {@class = "btn btn-success"})   
</div>

<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <td>Editar</td>
            <td class="visually-hidden">IDSueldo</td>
            <td>sueldo Mensual</td>
            <td>Forma de Pago</td>
            <td>Clave empleado</td>

            <td>Eliminar</td>
        </tr>

    </thead>
    <tbody>
        @foreach (ML.Sueldos sueldos in Model.Sueldo)
        {
            <tr>
                <td><a class="btn btn-warning bi bi-pencil-square" href="@Url.Action("Form", "Sueldos", new { IDSueldo = sueldos.IDSueldo })"></a></td>

                <td class="visually-hidden">@sueldos.IDSueldo</td>
                <td>@sueldos.SueldoMensual</td>
                <td>@sueldos.FormaPago</td>
                <td>@sueldos.Empleados.ClaveEmpleado</td>

                <td>
                    <a class="btn btn-danger bi bi-trash2" href="@Url.Action("Delete", "Sueldos", new {IDSueldo = sueldos.IDSueldo })" onclick="return confirm('Estas seguro que deseas eliminar este registro?');">   </a>
                </td>
            </tr>
        }

    </tbody>

</table>